<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodemailer</title>
</head>
<body>
    <form action="/send-info" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <button type="submit" class="bton-Enviar">
            Enviar
        </button>
    </form>
</body>
</html>